@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

// header services training
// проблема с контейнером 
.svg {
    margin-right: 15px;
}

// сделать черный фон для меню
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    // background-color: red;
    padding-top: 10px;
    // position: relative;

    @media (max-width: 1200px) {
        padding-bottom: 50px;
    }

    @media (max-width: 768px) {
        padding: 0;
    }


    &__contacts {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1200px) {
            flex-wrap: wrap;
            margin-bottom: 0;
            max-width: 300px;
            // !!! 
            // записать куда небудь этот способ с флекс врап
        }
    }

    &__wrapper {
        display: flex;
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;

        @media (max-width: 768px) {
            display: block;
            padding: 0;
        }
    }

    &__top {
        display: flex;
        justify-content: center;
        align-items: start;
        padding-top: 10px;
    }

    &__left {
        @media (max-width: 1200px) {
            display: flex;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.95);
        }

        // @media (max-width: 768px) {

        // }
    }

    &__right {
        margin-right: 50px;
        text-align: right;

        @media (max-width: 1200px) {
            margin-right: 25px;
            width: 50%;
        }

        @media (max-width: 768px) {
            width: 100%;
            text-align: center;
            // наверное можно сделать одним своиством
        }
    }

    &__box {
        margin-bottom: 10px;
    }

    &__link {
        text-decoration: revert;
        color: $white;
        // transition: color 0.5s;
        margin-bottom: 10px;
        display: inline-flex;

        @media (max-width: 768px) {
            margin-top: 10px;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $hover;

            .header__lk {
                display: none;
            }

            .header__lock {
                display: block;
            }
        }

        &:active {
            color: $active;
        }
    }

    &__lock {
        display: none;
        // open
    }

    // &__logo {
    //     justify-content: end;
    // }

    &__bottom {
        display: flex;
        justify-content: start;
        align-items: center;
    }
}

.contacts {
    gap: 20px;
    color: $yellow;

    @media (max-width: 1200px) {
        gap: inherit;
    }

    &__wrapper {
        display: flex;
        align-items: start;

        @media (max-width: 768px) {
            display: none;
            align-items: center;

            &--consultations {
                display: flex;
            }
        }
    }

    &__svg {
        margin-right: 15px;

        @media (max-width: 1200px) {
            margin-right: 25px;
        }

        @media (max-width: 768px) {
            margin-right: 15px;
            animation-name: hvr-buzz;
            animation-duration: .5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }

    &__text {
        @media (max-width: 1200px) {
            padding-left: 35px;
            border-left: 1px dashed yellow;


        }

        @media (max-width: 768px) {
            border-left: none;
            padding-left: 0;
            min-width: 180px;
        }
    }

    &__text span {
        font-weight: 500;
        display: block;
    }

    &__text p {
        font-size: 14px;
        display: flex;
    }

    &__item {
        &:not(:last-child) {
            border-right: 1px dashed $yellow;
            padding-right: 25px;

            @media (max-width: 1200px) {
                border-right: none;

            }
        }

        &--consultations {
            @media (max-width:1200px) {
                order: -1;
                z-index: 100;
            }
        }
    }

    &__info {
        margin-bottom: 10px;
        display: block;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link {
        font-weight: 500;
        font-size: 26px;
        transition: color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            text-decoration: revert;
        }

        &:active {
            color: $active;
        }
    }
}

.menu {
    @media (max-width: 1200px) {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        // background-color: red;
        max-width: 710px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.95);
    }

    @media (max-width: 768px) {
        position: inherit;
        transform: none;
        order: -1;
    }

    &__box {
        padding: 14px 10px;
        background-color: white;
        display: none;

        @media (max-width: 768px) {
            display: inline-block;

        }
    }

    &__btn {

        &.active {
            span {
                transform: scale(0);
            }

            &:before {
                transform: rotate(45deg);
                top: 10px;
            }

            &::after {
                transform: rotate(-45deg);
                bottom: 8px;
            }
        }

        @media (max-width: 768px) {

            width: 30px;
            height: 22px;
            position: relative;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            padding: 0;
            z-index: 10;

            span {
                height: 3px;
                width: 100%;
                background-color: $black;
            }

            &::before,
            &::after {
                position: absolute;
                content: '';
                height: 3px;
                width: 100%;
                background-color: $black;
            }

            &::before {
                content: '';
                top: 0px;
            }

            &::after {
                bottom: 0;
            }
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 25px;

        // @media (max-width: 1200px) {
        //     background-color: rgba(0, 0, 0, 0.4);
        // }

        @media (max-width: 768px) {
            transform: translateX(-200%);
            position: absolute;
            top: 100%;
            width: 100%;
            left: 0;
            flex-direction: column;
            gap: 0;
            background-color: white;
            transition: transform 1s;

            &.menu__items--active {
                transform: translateX(0%);
                animation-name: menu-menu;
                animation-duration: 1.5s;
                animation-timing-function: linear;
                // transform: translateY(0%);
                // !!!! сниепед горизонталный y вертикальный
                // !!!! сниепед горизонталный х
            }
        }

        @media (max-width: 768px) {
            padding: 0px;
        }
    }

    &__item {
        @media (max-width: 768px) {
            border-bottom: 1px dashed #000;
            width: 100%;
            padding: 0 15px;
        }
    }

    &__link {
        display: inline-block;
        text-transform: uppercase;
        color: white;
        line-height: 2.8;
        transition: color 0.5s;
        border-bottom: 2px solid transparent;
        width: 100%;

        @media (max-width: 768px) {
            color: black;
            margin: 0 auto;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $hover;
            border-bottom: 2px solid $yellow;

            @media (max-width: 768px) {
                border-bottom: none;
            }
        }

        &:active {
            color: $active;
        }
    }
}

.intro {
    background-image: url('../images/bg-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    // возможно надо до 100
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    text-transform: uppercase;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1200px) {
        height: 100vh;
    }

    @media (max-width: 992px) {}

    @media (max-width: 768px) {
        height: 85vh;
        padding: 0;
    }

    @media (max-width: 576px) {
        height: 100vh;
    }

    &__title {
        text-align: center;
        // margin-top: 225px;
        margin-bottom: 100px;
        font-size: 40px;
        font-weight: 900;
        text-shadow: 1px 1px 2px #000;

        @media (max-width: 1200px) {
            max-width: 780px;
            margin: 0 auto 100px;
        }

        @media (max-width: 768px) {
            font-size: 25px;
            margin: 0 auto 30px;
        }
    }

    &__box {
        background-color: rgba(0, 0, 0, 0.4);

        @media (max-width: 1200px) {
            padding: 0 15px;
        }

        @media (max-width: 992px) {
            width: 100%;
        }

        @media (max-width: 576px) {
            background-color: rgba(0, 0, 0, 0.8);

        }
    }

    &__text {
        // display: inline-block;
        // width: 100%;
        text-align: center;
        font-size: 20px;
        // margin-bottom: 30px;
        line-height: 1;
        padding: 30px 35px 30px 0px;


        @media (max-width: 768px) {
            padding: 30px 0px;
            width: 100%;
        }
    }
}

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    @media (max-width: 1200px) {
        margin-bottom: 25px;
    }

    @media (max-width: 768px) {
        display: block;
        margin-bottom: 70px;

        // background-color: rgba(0, 0, 0, 0.4);
    }

    &__input {
        outline: none;
        border: 1px solid #fee301;
        border-radius: 23px;
        background-color: transparent;
        // min-height: 48px;
        // padding: 0 18px;
        // font-size: 16px;
        color: #fee301;
        padding: 15px 95px 15px 15px;

        @media (max-width: 992px) {
            padding: 15px 45px 15px 15px;
        }

        @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 10px;
        }

        @media (max-width: 576px) {}

        &:not(:last-child) {
            margin-right: 10px;

            @media (max-width: 1200px) {
                margin-right: 0px;
            }
        }

        // box-sizing: border-box;
        // width: 33%;
        &::placeholder {
            color: $ac;
            font-size: 18px;
        }
    }

    &__btn {
        // outline: none;
        border: none;
        border-radius: 23px;
        background-color: #fee301;
        // min-height: 50px;
        padding: 14px 70px;
        text-transform: uppercase;
        font-size: 18px;
        color: #222;
        // cursor: pointer;
        transition: background-color 0.5s;

        @media (max-width: 768px) {
            width: 100%;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            // background-color: #a16608;
            opacity: 0.8;
        }

        &:active {
            color: $active;
        }
    }
}

.services {
    padding: 70px 0;
    background-color: $ac;

    @media (max-width: 768px) {
        padding: 50px 0;
    }

    &__box {
        // display: flex;
        // justify-content: center;
        // max-width: 750px;
        // margin: 0 auto;

        @media (max-width: 1200px) {
            max-width: 750px;
            margin: 0 auto;
        }
    }

    &__title {
        margin-bottom: 70px;

        @media (max-width: 576px) {
            margin-bottom: 50px;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 70px 0;

        @media (max-width: 1200px) {
            justify-content: center;
        }

        @media (max-width: 576px) {
            gap: 50px 0;
        }

    }

    &__item {
        font-size: 20px;
        color: $de;
        max-width: 370px;
        display: flex;
        padding-right: 20px;
        padding-left: 20px;
        width: 33%;

        @media (max-width: 1200px) {
            // max-width: 245px;
            display: block;
            // width: 100%;
            text-align: center;
            padding-right: 10px;
            padding-left: 10px;
        }

        @media (max-width: 768px) {
            max-width: 365px;
            width: inherit;
            width: 50%;

            // &:nth-child(2n+2) {
            //     border-right: 1px dashed $de;
            // }
        }

        @media (max-width: 576px) {
            font-size: 19px;
            padding: 0;
        }

        &:not(:last-child) {
            // border-right: none;
            border-right: 1px dashed $de;

            @media (max-width: 1200px) {
                border-right: 1px dashed $de;
            }

            @media (max-width: 768px) {
                // border-right: none;
            }

            @media (max-width: 768px) {
                // border-right: none;
            }
        }

        &:nth-child(3n+3) {
            border-right: none;
            // border-right: 1px dashed $de;

            @media (max-width: 1200px) {
                // border-right: 1px dashed $de;
            }

            @media (max-width: 768px) {
                border-right: 1px dashed $de;
                // border-right: none;
            }

            @media (max-width: 576px) {
                // border-right: none;
            }
        }

        &:nth-child(2n+2) {

            // border-right: none;
            // border-right: 1px dashed $de;
            @media (max-width: 768px) {
                // border-right: 1px dashed $de;
                border-right: none;
            }
        }

        // &:nth-child(1n+1) {
        //     // border-right: none;
        //     @media (max-width: 576px) {
        //         border-right: 1px dashed $de;
        //     }
        // }
    }

    &__svg {
        margin-right: 30px;
        min-width: 50px;
        height: 50px;

        @media (max-width: 1200px) {
            margin: 0 auto 20px;
            display: flex;
        }
    }
}


.training {
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        top: 0;
        left: -390px;
        right: -390px;
        margin: auto;
        border-left: 210px solid transparent;
        border-right: 1700px solid transparent;
        border-top: 325px solid #fee301;
        z-index: -1;
        // margin-right: 1%;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        z-index: 1;

        // @media (max-width: 1200px) {
        //     background-color: rgba(0, 0, 0, 0.5);
        // }
    }

    &__box {
        width: 40%;
        // max-width: 450px;
        background-image: url('../images/what-is-trx.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (max-width: 1200px) {
            display: none;
        }

    }

    &__inner {
        background-color: #222;
        padding: 70px 35px;
        // position: relative;
        width: 60%;
        margin-left: auto;
        position: relative;
        z-index: 2;

        @media (max-width: 1200px) {
            background-image: url('../images/what-is-trx.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            // width: 80%;
            margin: 0 auto;
            max-width: 768px;
        }

        @media (max-width: 992px) {
            width: 100%;
        }

        @media (max-width: 768px) {
            padding: 50px 20px;
        }


        &::before {
            content: "";
            position: absolute;
            // top: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: -1;
            // left: 0;
            right: 0;
            // display: block;
            bottom: 0;
            width: 100%;
            height: 100%;
            // margin-left: -70%;
            // height: 640px;
            // width: 450px;
            // // width: 40%;
            // background-image: url('../images/what-is-trx.jpg');
            // background-repeat: no-repeat;
            // background-position: center;
            // background-size: cover;
        }
    }


    &__title {
        letter-spacing: .03;
        color: #fff;

        @media (max-width: 576px) {
            font-size: 22px;
        }
    }

    &__text {
        font-size: 18px;
        color: #fff;

        // @include line-clamp(15);

    }

    &__text p {
        margin-bottom: 20px;


        @media (max-width: 576px) {
            margin-bottom: 0px;
            display: none;

            &:first-child {
                display: block;
            }
        }


    }
}


.results {
    // поменять цвет у иконок

    @media (max-width: 1200px) {
        max-width: 768px;
        margin: 0 auto;
    }

    &__title {}


    &__items {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px 0;
        }
    }

    // возможно нужно назвать текст
    &__item {
        color: $de;
        max-width: 285px;
        text-align: center;

        @media (max-width: 1200px) {
            // width: 25%;
        }

        @media (max-width: 768px) {
            width: 50%;
        }

        @media (max-width: 576px) {
            // width: 25%;
        }
    }

    &__item p {
        max-width: 245px;
        font-size: 18px;
    }

    &__svg {
        min-width: 100px;
        height: 100px;
        margin: 0 auto 40px auto;
        display: flex;
    }
}

.for-whom {
    &__title {
        color: $de;
    }
}

.accordion {
    color: $de;

    &__item {
        // position: relative;
        // perspective: 0px;
        // overflow: hidden;

        // &::before,
        // &::after {
        //     content: "";
        //     position: absolute;
        //     // top: 30px;
        //     // right: 35px;
        //     height: 36px;
        //     width: 2px;
        //     background-color: $ac;
        //     transition: transform 1s;

        //     @media (max-width: 576px) {
        //         height: 18px;
        //         top: 35%;
        //         // top: 17px;
        //         // right: 7%;
        //         left: 95%;
        //         // transform: translateX(-50%);
        //     }
        // }


    }

    // .accordion__item.active:before {
    //     transform: rotate(500deg);
    // }

    // .accordion__item.active::after {
    //     transform: rotate(400deg);
    // }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 5px;
        cursor: pointer;
        position: relative;
        // perspective: 0px;
        // overflow: hidden;

        &::before,
        &::after {
            content: "";
            position: absolute;
            // top: 30px;
            // right: 35px;
            height: 36px;
            width: 2px;
            background-color: $ac;
            transition: transform 1s;

            @media (max-width: 576px) {
                height: 18px;
                top: 35%;
                // top: 17px;
                // right: 7%;
                left: 95%;
                // transform: translateX(-50%);
            }
        }

        &::before {
            transform: translateX(-50%) rotate(270deg);
        }

        &::after {
            transform: translateX(-50%) rotate(180deg);
        }

        &--active {
            &:before {
                transform: rotate(500deg);
            }

            &::after {
                transform: rotate(400deg);
            }
        }
    }

    &__box {
        padding: 20px 40px;
        background-color: $ac;
        display: inline-block;

        @media (max-width: 768px) {
            padding: 10px 20px;
        }

        @media (max-width: 576px) {
            display: none;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: $white;
        padding: 32px 40px;
        font-size: 22px;
        font-weight: 500;
        text-transform: uppercase;
        background-color: #313131;

        @media (max-width: 992px) {
            margin-right: 20px;
        }

        @media (max-width: 768px) {
            padding: 16px 40px 16px 20px;
            margin-right: 0px;
        }

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }

    &__text {
        background-color: #f5f5f5;
        color: #313131;
        font-size: 18px;
        transform: rotateX(180deg);
        opacity: 0;
        transition-property: transform,
            opacity;
        transition-duration: 1.4s;
        position: absolute;
        top: -1000vh;

        &--active {
            transform: rotateX(0);
            opacity: 1;
            display: block;
            position: relative;
            top: 0;
        }
    }

    &__text p {
        padding: 30px;
    }
}

.gallery {
    padding-top: 70px;

    // не как везде!!!
    &__title {}
}

.gallery-slider-big {
    &__images {
        width: 100%;
        height: 530px;
    }
}


.gallery-slider {
    position: relative;

    &:before {
        position: absolute;
        display: block;
        content: '';
        width: 0;
        height: 0;
        bottom: 0;
        left: -390px;
        right: -390px;
        margin: auto;
        border-left: 1710px solid transparent;
        border-right: 210px solid transparent;
        border-bottom: 325px solid #202020;
    }
}

.gallery-slider {
    &__items {
        background-color: #202020;
    }

    &__img {
        width: 230px;
        height: 135px;
    }

    &__item {
        border: 2px solid #000;
        cursor: pointer;
        opacity: 0.3;
        transition: color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            opacity: 1;
        }

        &:active {
            color: $active;
        }
    }
}

.next,
.prev,
.slick-next,
.slick-prev {
    // top: 0;
    position: absolute;
    bottom: 0;
    background-color: #fee301;
    z-index: 2;
    border: none;
    // outline: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-size: 0;
    background-position: center;
    background-size: 12px 22px;
    background-repeat: no-repeat;
}

.next,
.slick-next {
    background-image: url('../images/icons/arrow_right.svg');
    right: 0;
}

.prev,
.slick-prev {
    background-image: url('../images/icons/arrow_left.svg');
    left: 0;
}

.next,
.prev {
    top: 0;

}

.prev-blog,
.next-blog {
    top: 23%;
    // bottom: 0;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%);
    position: absolute;

    background-color: #fee301;
    z-index: 2;
    border: none;
    // outline: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-size: 0;
    background-position: center;
    background-size: 12px 22px;
    background-repeat: no-repeat;
}


.next-blog {
    background-image: url('../images/icons/arrow_right.svg');
    right: 0;
}

.prev-blog {
    background-image: url('../images/icons/arrow_left.svg');
    left: 0;
}

.slick-center {
    border: 2px solid $ac;
    opacity: 1;
}

.rates {
    background-color: #202020;

    &__title {
        color: $white
    }

    &__wrapper {
        border-left: 8px solid #fee301;
        padding: 10px 0 10px 15px;
    }

    &__list {}

    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
        cursor: pointer;
        user-select: none;
    }

    &__subtitle {
        font-size: 32px;
        text-transform: uppercase;
        margin-right: 25px;
        font-weight: 500;
    }

    &__subtitle span {
        // font-size: 32px;
        // text-transform: uppercase;
        // margin-right: 25px;
        font-weight: 300;
    }

    &__svg {
        transition: transform .5s;

        &--active {
            transform: rotate(180deg);
        }
    }

    &__box {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 30px;
        // transform: translate(0, 50%);
        transition: transform 5.5s;
        transition: translate 5.5s;
    }

    &__items {
        display: none;
        // overflow: hidden;
        // opacity: 0;
        // display: flex;
        justify-content: flex-start;
        // flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 30px;
        // transform: translate(0, 50%);
        // // // transform: translate3d(0);
        // transition: transform 5.5s;
        // transition: translate 5.5s;
        // transition: overflow 5.5s;
        // нету плавности
        // !!!когда небудь переделать так что бы работало с одник славом актив
        // добавить отдельно!!!! transition: transform .5s; в снипеты

        &--active {
            // overflow: visible;
            // opacity: 1;
            // transition: transform 5.5s;
            // transform: translate(0, 1%);
            // transition: translate 5.5s;
            display: flex;
            // transform: translateX(300%);
            // transform: translate3d(300%);
        }
    }

    &__item {
        border: 1px solid #fee301;
        padding: 30px 35px;
        color: #fff;
        width: 32%;
        font-size: 18px;

        &--personal {
            background-color: $ac;
            color: black;
        }
    }

    &__item span {
        margin-bottom: 10px;
    }

    &__info {
        font-size: 25px;
        text-transform: uppercase;

        &--personal {
            color: #fee301;
        }
    }

    &__price {
        font-weight: 500;
        font-size: 80px;
        color: #fee301;

        &--personal {
            color: $black;
        }
    }

    &__training {
        font-size: 24px;
    }

    &__simbol {
        color: #fee301;
        font-size: 50px;

        &--personal {
            color: $black;
        }
    }

    &__text {
        font-size: 14px;
        color: #fff;
        margin-bottom: 30px;
    }

    &__text p {}



    &__price {}

    &__term span {
        font-weight: 900;
    }

    &__info {}
}

.active {
    display: flex;
}


.schedule {
    padding-bottom: 70px;
    // !!! не как везде
    // background-color: #202020;

    &__box {
        padding-bottom: 70px;
        background-color: #202020;
    }

    &__title {
        color: white;
        // padding: 70px;
        // margin: 0 auto;
        // background-color: black;
        // display: flex;
        // max-width: 200px;
        // margin-bottom: 70px;
        // max-width: 1170px;

        // background-color: #202020;
    }
}

.about {
    color: #5d5d5d;
    border-collapse: collapse;
    font-size: 18px;
    position: relative;
    // border-left: 210px solid transparent;
    // border-right: 1710px solid transparent;
    // border-top: 325px solid #202020;
    // width: 0;
    // height: 0;
    // top: -30px;
    // left: -390px;
    // right: -390px;


    &::before {
        content: "";
        z-index: -2;
        position: absolute;
        // display: block;
        content: '';
        width: 0;
        height: 0;
        // top: -120px;
        top: -30px;
        left: -390px;
        right: -390px;
        // margin: auto;
        border-left: 210px solid transparent;
        border-right: 1710px solid transparent;
        border-top: 325px solid #202020;
    }

    &__time {
        background-color: #bababa;
        text-align: center;
        padding: 46px 33px;

        &--times {
            padding: 15px 10px;
        }

        &--time {
            background-color: #cecece;
        }
    }

    &__time span {
        font-weight: 500;
    }

    &__item {
        background-color: #efefef;
        padding: 15px 20px;

        // &:not(:last-child) {
        //     border-right: 1px solid #bbb;
        // }

        &--item {
            background-color: #E3E3E3;
        }

        &--box {
            padding: 14px 20px;
        }
    }

    &__item p {
        font-weight: 500;
        color: #000;
    }

    &__item span {
        font-size: 14px;
        // color: #000;
    }

    &__tr {}

    &__td {
        color: $white;
        padding: 27px 10px;
        background-color: #676767;

        &--even {
            background-color: #5d5d5d;
        }

        &--first {
            color: #5d5d5d;
            background-color: $ac;
        }
    }

    &__td span {
        font-weight: 900;
    }

    &__td p {
        font-weight: 900;
    }
}

.slider-coaches {
    display: flex;
    justify-content: space-between;


    &__box {
        position: absolute;
        top: 0;
        // left: 0;
        right: 0;
        width: 54%;

        // overflow: hidden;

    }

    &__inner {
        height: 130px;
        background-color: rgba(32, 32, 32, 0.8);
        padding: 31px 20px;
        overflow: hidden;
        cursor: pointer;
        transition: transform 0.5s;
        position: relative;

        &:hover {
            .slider-coaches__symbol {
                &::before {
                    transition: transform 0.5s;
                    transform: rotate(360deg);
                }

                &::after {
                    transition: transform 0.5s;
                    transform: rotate(270deg);
                }
            }
        }

        &--active {
            overflow: overlay;
            height: 100%;

            .slider-coaches__symbol {
                &:before {
                    transition: transform 0.5s;
                    transform: rotate(500deg);
                }

                &::after {
                    transition: transform 0.5s;
                    transform: rotate(400deg);
                }
            }
        }

        &:focus {
            color: $focus;
        }

        &:active {
            color: $active;
        }
    }

    &__title {
        margin-bottom: 35px;
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 500;
        color: #fee301;
        display: inline;
    }

    &__symbol {
        position: relative;
        margin-left: 15px;

        &::before {
            transform: rotate(270deg);
        }

        &::after {
            transform: rotate(180deg);
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            margin-top: 15%;
            margin-right: 17%;
            height: 15px;
            width: 2px;
            background-color: $ac;
            transition: transform,
                overflow 1s;
            z-index: 100;
        }
    }

    &__images {
        position: relative;
        overflow: hidden;
    }

    &__img {
        object-fit: cover;
        width: 570px;
        height: 800px;
    }

    &__list {
        display: block;
        color: #fff;
        font-size: 16px;
        margin-bottom: 25px;
        margin-top: 35px;
    }

    &__items {
        margin-bottom: 30px;
    }

    &__item {
        position: relative;
        padding-left: 10px;

        &::before {
            content: "";
            position: absolute;
            top: 9px;
            left: 0px;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: $ac;
        }
    }

    &__subtitle {
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        margin-bottom: 5px;
    }
}

// --------------------
// скроллбар

// .slider-coaches__inner--active .slider-coaches__span::after {
//     background-color: red;

//     transform: rotate(800deg);



// }

// .slider-coaches__inner--active .slider-coaches__span::before {
//     background-color: red;

//     transform: rotate(700deg);

// }

::-webkit-scrollbar {
    /* 1 - скроллбар */
    width: 10px;
    height: 4px;
    background-color: #000;
}

// ::-webkit-scrollbar-button {
//     /* 2 - кнопка */

// }

// ::-webkit-scrollbar-track {
//     /* 3 - трек */
// }

// ::-webkit-scrollbar-track-piece {
//     /* 4 - видимая часть трека */
// }

::-webkit-scrollbar-thumb {
    /* 5 - ползунок */
    border-radius: 2px;
    background-color: #fee301;
}

// ::-webkit-scrollbar-corner {
//     /* 6 - уголок */
// }

// ::-webkit-resizer {
//     /* 7 - изменение размеров */
// }
// --------------------

.blog {
    background-image: url('../images/training.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        color: #fff;
    }
}

.slider-blog {
    &__item {
        max-width: 370px;
        padding-left: 5px;
        padding-right: 5px;
    }

    &__img {
        width: 370px;
        height: 195px;
        object-fit: cover;
        transition: transform 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            transform: scale(1.05);
        }

        &:active {
            color: $active;
        }
    }

    &__title {
        text-transform: uppercase;
        color: #fff;
        font-size: 24px;
        margin-bottom: 20px;
    }

    &__link {
        color: #fee301;
        margin-bottom: 30px;
        text-decoration: revert;
        transition: color 0.5s;
        overflow: hidden;
        display: inline-block;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $black;
        }

        &:active {
            color: $active;
        }
    }
}

.footer {
    // background-color: $black;
    // margin-top: -50px;
    z-index: 999;
    padding-bottom: 70px;
    background-color: #202020;

    &__wrapper {
        display: flex;
        justify-content: center;

    }

    &__contacts {
        // background-color: #202020;
        // padding: 0px 0px 0px 40px;
        padding: 3px 0px 2px 40px;
        justify-content: start;
        display: flex;
    }

    &__left {
        width: 60%;
        margin-top: -50px;
        // padding: 5px 0px 5px 40px;
    }

    &__logo {
        width: 40%;
        justify-content: end;
        margin-top: -50px;
    }
}

.social {
    background-color: rgba(0, 0, 0, 0.6);
    // background-color: transparent;
    // opacity: 0.1;
    // padding-left: 40px;
    padding: 6px 0px 6px 40px;
    z-index: 999;
    // margin-top: -50px;


    &__link {
        width: 36px;
        height: 36px;
        // padding: 0px 10px 0px 10px;

        &:not(:last-child) {
            margin-right: 10px;
        }

        // background-color: rgba(0, 0, 0, 0.6);
        display: inline-block;
        // justify-content: space-between;
    }


    &__svg {
        background-color: #202020;
        transition: color 0.5s;

        &:hover {
            background-color: $ac;
            fill: $black;
        }
    }
}


/*.video {
    height: 425px;
    max-width: 1185px;
    display: flex;
    justify-content: center;
    background-position: center;
    position: relative;
    opacity: 1;
    transition: opacity 0.7s,
        border 0.5s;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;


    &:focus {
        outline: solid $ac;
    }

    &:hover {
        opacity: 0.4;
        border: 2px solid $black;
    }

    &:active {
        color: $active;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../images/play.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
    }
}*/

@import 'media';